body{
    background-color: black;
    color: rgb(118, 158, 193);
}
#images0,#images1,#images2,#images3{
    width: 9%;
    height: 9%;
    padding: 50px;
}

#showImage1, #showImage2{
    width: 9%;
    height: 9%;
    padding: 50px;
}

img{
    position: relative;
    left: 18%;
}
